{% extends "_layout.html" %}

{% block content %}

{% set blogImage = entry.featuredImage.one() %}

<main role="article" itemscope itemtype="http://schema.org/Article" class="template {{ entry.title | lower }}" id="main-content">
    <section class="blog-article">
        <div>
            <div class="content">
                <img itemprop="image" src="{{blogImage.url}}" alt="{{blogImage.title}}">
                <h1 itemprop="name headline" class="h4 article-header">{{entry.title}}</h1>
                {{entry.blogPostContent}}
            </div>
            <div class="share-column">
                <div class="share">
                    <h4 itemprop="author" class="h5">By {{entry.blogPostAuthor}}</h4>
                    <time itemprop="datePublished">{{ entry.postDate | date("m/d/yy")}}</time>
                    <div class="line"></div>
                    <a href="#" class="button">Share on Linkedin</a>
                </div>
            </div>
            <div class="back-container">
                <a href="/blog" class="ff-sansSerif-alt">Back to all blog posts</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}