section.articles-list{

    >div{
        @media screen and (max-width: $mobile-BP) {
            padding: 2em 0;
        }
    }

    article{

        transition: all 0.5s 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(-5%);

        &.animated{
            opacity: 1;
            transform: translateY(0%);
        }

        &.animated-delay{
            transition-delay: 0.5s;
        }

        &:nth-child(1){
            border-top: 0;
            &:before{
                display: none;
            }
        }
        &:nth-last-child(1){
            border-bottom: 0;
            &:after{
                display: none;
            }
        }

        h3{
            color: $darkBlue;
        }
    }
}