section.blue-banner{

    min-height: 250px;
    background-image: url('/media/about/about-banner.jpg');
    background-size: cover;

    @media screen and (min-width: $mobile-BP) {
        min-height: 300px;
    }

    >div{
        display: flex;
        align-items: center;    
        min-height: inherit;
    }

    h1{
        color: $white;
        // display: inline-flex;
        // align-items: center;
        font-weight: 400;
        margin-bottom: 0;
        letter-spacing: 2px;
    }

}