section.case-studies-list{

    .list-container{
        margin-top: 60px;
        
        @media screen and (min-width: $mobile-BP){            
            margin-top: 80px;
        }

        .case-study{
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            margin-bottom: 70px;
            max-width: 550px;
            
            @media screen and (min-width: $tablet-BP){
                margin-bottom: 110px;
                max-width: unset;
            }

            &:nth-last-child(1){
                margin-bottom: 0;
            }

            .img-container{

                transition: all 0.5s ease-in-out;
                opacity: 0;
                transform: translateY(-5%);
        
                &.animated{
                    opacity: 1;
                    transform: translateY(0%);
                }
                &.animated-delay{
                    transition-delay: 0.8s;
                }

                @media screen and (min-width: $tablet-BP){
                    width: 60%;
                    height: 450px;
                }

                img{
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                    width: 100%;
                }
            }

            .text{

                background-color: #5B5B5B;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                transition: all 0.5s 0.3s ease-in-out;
                opacity: 0;
                transform: translateY(-5%);
        
                &.animated{
                    opacity: 1;
                    transform: translateY(0%);
                }

                &.animated-delay{
                    transition-delay: 1s;
                }

                @media screen and (min-width: $tablet-BP){
                    width: 50%;
                    min-height: 450px;
                    margin-left: -10%;
                    margin-top: 40px;
                    padding: 50px;
                }

                h4{
                    color: #A4A4A4;
                    margin-bottom: 0;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                h3{
                    color: $white;
                    text-transform: capitalize;
                    margin-bottom: 40px;
                }

                .button{
                    margin-top: auto;
                    align-self: flex-start;
                }
            }
        }
    }
}