section.contact-cta-vTwo {

    >div {
        padding-bottom: 0;

        @media screen and (max-width: $tablet-BP) {
            padding-top: 5px;
        }
    }

    .cta-container {
        position: relative;
        border-top: 1px solid $gray;
        text-align: center;
        padding: 50px 0 55px;
        margin-top: -5px;

        &:before {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray;
            content: '';
            top: -5px;
            left: 0;
        }

        h4 {
            margin-bottom: 10px;
        }

        p {
            margin-top: 5px;
            line-height: 1;
        }

        .button.filled {
            &:hover {
                color: $green;
            }
        }

        h4,
        p,
        .button {

            transition: all 0.5s 0.3s ease-in-out;
            opacity: 0;
            transform: translateY(-5%);

            &.animated {
                opacity: 1;
                transform: translateY(0%);
            }

        }
    }
}