main.four-o-four {

    section.four-o-four-cont {
        >div {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        div.content {
            max-width: 500px;
        }
    }
}