section.hero{

    background-image: url('/media/home/home-banner.jpg');
    background-size: cover;
    background-position: center;

    
    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $tablet-BP) {
            min-height: 600px;
        }

        
        h1{
            color: $white;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 0;
            transform: translateY(-7%);
            opacity: 0;

            animation: fadeInUp 0.7s ease-in-out forwards;

            p{
                font-weight: normal;
                font-size: 22px;
                margin-bottom: 8px;

                // &:nth-child(2){
                //     font-size: inherit;
                // }
            }
        }

        .button{
            animation: fadeInUp 0.7s 0.3s ease-in-out forwards;  
            transform: translateY(-7%);
            opacity: 0;
        }

    }
}