section.picture-left{

    @media screen and (min-width: $tablet-BP) {
        padding-left: 0;
    }

    >div.grid{

        display: grid;
        max-width: 1300px;
        padding-top: 0;

        @media screen and (min-width: $tablet-BP) {
            padding-left: 0;
            padding-right: 0;
            margin-right: auto;
            // column-gap: 60px;
            grid-template-columns: 52% 1fr;
            position: relative;
            margin-top: 40px;
        }
        @media screen and (min-width: $desktop-BP) {
            margin-left: auto;
            // column-gap: 80px;
        }
    }

    .text-container{
        max-width: 420px;
        padding-top: 30px;

        @media screen and (min-width: $tablet-BP){
            padding-top: 20px;
            padding-left: 60px
        }

        @media screen and (min-width: $desktop-BP) {
            padding-left: 80px;
        }

        h2.gray-header{
            color: $gray;

            @media screen and (min-width: $tablet-BP) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                transform: translateY(-40%);
            }
        }

        h4{
            margin-top: 0;
            color: $darkBlue;


            @media screen and (min-width: $tablet-BP){
                // margin-top: 40px;
                position: relative;
                z-index: 2;
            }
        }
        p{
            margin-bottom: 20px;
        }
    }

    .image-container{

        @media screen and (min-width: $tablet-BP){
            height: 440px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }
}