{% extends "_layout.html" %}

{% block content %}

<main class="template four-o-four" id="main-content">
    <section class="blue-banner" style="background-image: url('/media/global/banner/contact-banner.jpg');">
        <div>
            <h1 class="h3">Page not found. <span class="blue-line"></span> </h1>
        </div>
    </section>
    <section class="four-o-four-cont nav-wp">
        <div>
            <div class="content">
                <h4>Sorry, we can't find this page.</h4>
                <p>Head back to our homepage to continue learning about us and our solutions.</p>
                <a href="/" class="button">back to home</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}