/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
input[type="submit"] {
	cursor: pointer;
	margin: 0.5em 0;
	padding: 0.8em 1em 0.75em;
	box-shadow: none;
	border: 1px solid $green;
	background-color: transparent;
	border-radius: 0;
	color: $darkGray;
    text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.3s linear;
	display: inline-block;

	&:hover{
		background-color: $green;
		color: $white;
	}

	&.filled{
		background-color: $green;
		color: $white;

		&:hover{
			background-color: transparent;
		}
	}

}
