div.img-blueSq {
    max-width: 900px;
    margin: 80px auto 40px;
    position: relative;
    display: flex;

    transition: all 0.5s 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-5%);

    &.animated{
        opacity: 1;
        transform: translateY(0%);
    }

    @media screen and (min-width: $mobile-BP){
        margin: 80px auto;
    }

    .blue-sq {
        background-color: $lightBlue;
        color: $white;
        padding: 40px 30px;
        width: 300px;
        z-index: 2;
        height: 350px;

        @media screen and (min-width: $mobile-BP) {
            height: 450px;
        }

        h4 {
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }

        .logo-on-image {
            // display: none;
            margin-top: 70px;
            width: 70px;
            
            @media screen and (min-width: $mobile-BP){
                margin-top: 90px;
                width: 100px; 
            }
        }
    }


    .img-container {
        margin-top: 60px;
        margin-left: -80px;
        width: 600px;
        height: 350px;

        @media screen and (min-width: $mobile-BP) {
            height: 450px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}