<section class="articles-list">
    <div>
        <article class="blog-article double-lined">
            <h3 class="h4">Donec ullamcorper nulla non metus auctor fringilla.</h3>
            <p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                nec elit.</p>
            <div class="button-cont">
                <a href="/blog-article" class="button">Read More</a>
            </div>
        </article>
        <article class="blog-article double-lined">
            <h3 class="h4">Donec ullamcorper nulla non metus auctor fringilla.</h3>
            <p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                nec elit.</p>
            <div class="button-cont">
                <a href="/blog-article" class="button">Read More</a>
            </div>
        </article>
        <article class="blog-article double-lined">
            <h3 class="h4">Donec ullamcorper nulla non metus auctor fringilla.</h3>
            <p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                nec elit.</p>
            <div class="button-cont">
                <a href="/blog-article" class="button">Read More</a>
            </div>
        </article>
        <article class="blog-article double-lined">
            <h3 class="h4">Donec ullamcorper nulla non metus auctor fringilla.</h3>
            <p class="excerpt">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
                nec elit.</p>
            <div class="button-cont">
                <a href="/blog-article" class="button">Read More</a>
            </div>
        </article>
    </div>
</section>