<section class="case-studies-list">
    <div>

        {% include './fragments/blue-phrase.html' %}

        <div class="list-container">

            <div class="case-study">
                <div class="img-container">
                    <img src="/media/home/home-solutions.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="ff-sansSerif-alt">Leadership Advisory <span class="blue-line gray"></span></h4>
                    <h3 class="h4">How Socium built A Powerful Infrastructure to Support the Massice Growth of Birch Resources
                    </h3>
                    <a class="button filled" href="#">View Case Study</a>
                </div>
            </div>

            <div class="case-study">
                <div class="img-container">
                    <img src="/media/home/home-solutions.jpg" alt="">
                </div>
                <div class="text">
                    <h4 class="ff-sansSerif-alt">Incident Response <span class="blue-line gray"></span> </h4>
                    <h3 class="h4">Nullam id dolor id nibh ultricies vehicula ut id elit.</h3>
                    <a class="button filled" href="#">View Case Study</a>
                </div>
            </div>

        </div>
    </div>
</section>