{% set studies = craft.entries.section('caseStudy').all() %}

<section class="case-studies-list nav-wp">
    <div>

        {% include './fragments/blue-phrase.html' %}

        <div class="list-container">

            {% for study in studies %}
                {% set studyImage = study.caseStudyImage.one() %}
                <div class="case-study">
                    <div class="img-container" data-animateInView>
                        <img src="{{studyImage.url}}" alt="{{studyImage.title}}">
                    </div>
                    <div class="text" data-animateInView>
                        <h4 class="ff-sansSerif-alt">{{study.caseStudyType}} <span class="blue-line gray"></span></h4>
                        <h3 class="h4">{{study.title}}</h3>
                        <a class="button filled" href="{{study.url}}">View Case Study</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>