<section class="certificates">
    <div>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere
            consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis
            consectetur purus sit amet fermentum. Etiam porta sem malesuada magna mollis euismod.</p>
        <div class="certificate-icons">
            <img src="/media/global/socium-logo.svg" alt="">
            <img src="/media/global/socium-logo.svg" alt="">
            <img src="/media/global/socium-logo.svg" alt="">
        </div>
    </div>
</section>