<section class="picture-right">
    <div class="grid">
        <div class="text-container">
            <h2 class="gray-header ff-sansSerif-alt">Solutions</h2>
            <h4>Long-term solutions, expertly delivered.</h4>
            <p>
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo
                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at
                lobortis. Fusce dapibus, tellus ac cursus commodo.
            </p>
            <a href="#" class="button">Discover our solutions</a>
        </div>
        <div class="image-container">
            <img src="/media/home/home-solutions.jpg" alt="">
        </div>
    </div>
</section>