{% set imageLeft = entry.firstSectionImage.one() %}
<section class="picture-left nav-wp">
    <div>
        {% include './fragments/blue-phrase.html' %}
    </div>
    <div class="grid" data-animateInView>
        <div class="image-container">
            <img src="{{imageLeft.url}}" alt="{{imageLeft.title}}">
        </div>
        <div class="text-container">
            <h2 class="gray-header ff-sansSerif-alt">{{entry.bigGrayHeaderOne}}</h2>
            <h4>{{entry.firstSectionSubheader}}</h4>
            <p>{{entry.firstSectionParagraph}}</p>
            <a href="#" class="button">Learn More</a>
        </div>
    </div>
</section>