{% set imageRight = entry.secondSectionImage.one() %}
<section class="picture-right">
    <div class="grid" data-animateInView>
        <div class="text-container">
            <h2 class="gray-header ff-sansSerif-alt">{{entry.bigGrayHeaderTwo}}</h2>
            <h4>{{entry.secondSectionSubheader}}</h4>
            <p>{{entry.secondSectionParagraph}}</p>
            <a href="#" class="button">Discover our solutions</a>
        </div>
        <div class="image-container">
            <img src="{{imageRight.url}}" alt="{{imageRight.title}}">
        </div>
    </div>
</section>