<section class="process">
    <div>
        <h3 class="gray-header offset-left">Process</h3>
        <div class="single-process">
            <h4>We approach every problem from an experienced yet objective perpective.</h4>
            <p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia
                bibendum nulla sed consectetur. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        </div>
        <div class="single-process">
            <h4>Our custom-crafted solutions evolve as you do.</h4>
            <p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia
                bibendum nulla sed consectetur. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        </div>
    </div>
</section>