{% set solutions = entry.solutions.all() %}
<section class="solutions">
    <div>
        {% for solution in solutions %}
            {% set study = solution.caseStudy.one() %}
            <div class="solution double-lined">
                <div class="solution-desc">
                    <h3 class="h2 ff-sansSerif-alt">{{solution.header}}</h3>
                    <div class="info">
                        {{solution.description}}
                        <div class="solutions-expertise">
                            <h5>Our Expertise</h5>
                            <ul>
                                {% for row in solution.expertise %}
                                    <li>{{ row.expertiseItem }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if study %}
                <div class="button-cont">
                    <a href="{{study.url}}" class="button">Read Case Study</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>