<section class="testimonials">
    <div>
        <div class="slider-container">
            <h3 class="ff-sansSerif-alt">{{entry.testimonialsHeader}}</h3>
            <div class="testimonials-slider">
                {% for testimonial in entry.homeTestimonials %}
                <div class="slide">
                    <p>{{testimonial.testimonial}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="company-logos-grid">
            <img src="/media/global/company-logo.svg" alt="">
            <img src="/media/global/company-logo.svg" alt="">
            <img src="/media/global/company-logo.svg" alt="">
            <img src="/media/global/company-logo.svg" alt="">
        </div>
    </div>
</section>