<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


{% hook "seo" %}

{#
<!-- META -->
<title>{% if seoTitle is defined and seoTitle is not empty %}{{seoTitle}} -
    {{ siteName }}{% else %}{{siteName}}{% endif %}</title>
<meta name="description"
    content="{% if seoDescription is defined and seoDescription is not empty %}{{seoDescription}}{% else %}{{globalSeo.seoDescription}}{% endif %}">
<meta name="author" content="{% if seoAuthor is defined %}{{seoAuthor}}{% else %}{{globalSeo.seoAuthor}}{% endif %}">
<meta name="copyright" content="{{globalSeo.seoCopyright}}">
<link rel="canonical" href="{{craft.app.request.absoluteUrl}}">
<meta property="og:site_name" content="{{siteName}}">
<meta property="og:type"
    content="{% if craft.app.request.segments|first == 'insights' %}article{% else %}website{%endif%}">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="{{craft.app.request.absoluteUrl}}">
<meta property="og:title"
    content="{% if seoTitle is defined and seoTitle is not empty %}{{seoTitle}} - {{ siteName }} {% else %}{{globalSeo.seoTitle}}{% endif %}">
<meta property="og:description"
    content="{% if seoDescription is defined and seoDescription is not empty %}{{seoDescription}}{% else %}{{globalSeo.seoDescription}}{% endif %}">
<meta property="og:image"
    content="{% if seoImage is defined and seoImage|length > 0 %}{{ siteUrl|slice(0,-1) }}{{seoImage.url}}{% elseif globalSeo.seoImage|length > 0 %}{{ siteUrl|slice(0,-1) }}{{globalSeo.seoImage.one().url}}{% endif %}">
<!-- END META -->
#}

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="{{ siteUrl }}media/global/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ siteUrl }}media/global/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ siteUrl }}media/global/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ siteUrl }}media/global/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ siteUrl }}media/global/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ siteUrl }}media/global/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ siteUrl }}media/global/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ siteUrl }}media/global/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}media/global/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ siteUrl }}media/global/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}media/global/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ siteUrl }}media/global/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}media/global/favicon/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- END Favicon -->