/*----------------------------------------------------------------*\
		MAIN NAV
\*----------------------------------------------------------------*/

div.main-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
	width: 100vw;
	z-index: 999;

	@media screen and (min-width: $tablet-BP){
		padding: 30px 40px;
	}

    nav.main-nav {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
		align-items: center;
		
		.logo-container{
			display: inline-flex;
			align-items: center;
		}

        .logo {
			width: 150px;
			position: relative;
			z-index: 999;

			@media screen and (min-width: $tablet-BP) {
				width: 200px;
			}
        }

        div.links-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			background-color: $darkBlue;
			z-index: 800;
			transform: translateY(-100%);
			transition: transform 0.3s ease-in;

			&.open{
				transform: translateY(0%);
			}

			@media screen and (min-width: $tablet-BP) {
				flex-direction: row;
				position: static;
				width: auto;
				height: auto;
				background-color: unset;
				transform: translateY(0%);
			}

            a:not(.hamburger) {
                color: white;
                text-decoration: none;
                position: relative;
				margin-bottom: 40px;
				font-size: 25px;
				
				@media screen and (min-width: $tablet-BP) {
					margin-right: 40px;
					font-size: 17px;
					margin-bottom: 0px;
				}

                &:nth-last-of-type(1) {
                    margin-right: 0;
                }

                &:hover {

                    &:before,
                    &:after {
						opacity: 1;
						transform: translateY(0);
                    }
                }

                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $green;
					opacity: 0;
					transform: translateY(6px);
					transition: all 0.3s linear;
                }

                &:before {
                    bottom: -5px;
                }

                &:after {
                    bottom: -8px;
                }
            }
		}
		
		.menu-container {
			z-index: 999;

			@media screen and (min-width: $tablet-BP) {
				display: none;
			}

			.menu {
				width: 35px;
				cursor: pointer;
			}


			.menu .line,
			.menu:before,
			.menu:after {
				height: 3px;
				display: block;
				background-color: $lightBlue;
				content: "";
				margin: 7px 0;
				transition: all 0.3s;
			}

			.menu.active:before {
				transform: translateY(10px) rotate(225deg);
			}

			.menu.active .line {
				transform: scale(1.5);
				opacity: 0;
			}

			.menu.active:after {
				transform: translateY(-10px) rotate(-225deg);
			}
		}
	}
	
	&.blogArticle{
		background-color: $white;

		&.open{
			nav.main-nav .logo{
				path, .rect-logo{
					fill: $white;
				}
			}
		}

		nav.main-nav{

			.logo{
				path, .rect-logo{
					fill: $darkBlue;
				}
			}

			div.links-container:not(.open){
				a:not(.hamburger){
					color: $darkBlue;
				}
			}
		}
	}
}