/*----------------------------------------------------------------*\
		MAIN FOOTER
\*----------------------------------------------------------------*/
$footer-BP: 960px;

div.main-footer{

	background-color: $lightBlue;
	padding: 60px 30px 30px;

	@media screen and (min-width: $footer-BP){
		padding: 60px 40px 30px;
	}

	footer{
		max-width: 1300px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		@media screen and (min-width: $mobile-BP) {
			flex-direction: row;
			justify-content: space-between;
		}

		.column{

			margin-bottom: 30px;

			@media screen and (min-width: $mobile-BP) {
				width: 45%;
			}

			@media screen and (min-width: $footer-BP) {
				margin-bottom: 0;
				width: auto;
			}

			&:nth-last-child(1){
				margin-bottom: 0px;
			}

			h5{
				margin-bottom: 10px;
				line-height: 1;
				color: $darkBlue;
				text-transform: uppercase;
				letter-spacing: 1px;

				@media screen and (min-width: $footer-BP){
					margin-bottom: 15px;
				}
			}	

			.links-container{

				&.sitemap{
					display: grid;
					grid-template-columns: auto auto auto;
					column-gap: 40px;
					row-gap: 10px;
					max-width: 400px;
				}

				&.contact{
					display: flex;
					flex-direction: column;
	
					>div{
						margin-bottom: 10px;
					}
				}

				a{
					color: $white;
					text-decoration: none;
					line-height: 1.6;
					position: relative;
					display: inline-block;


					img.linkedin{
						width: 35px;
						transition: transform 0.3s linear;
						&:hover{
							transform: scale(1.05);
						}
					}
				}

				a:not(.linkedin){

					&:hover {
						&:after {
							opacity: 1;
							transform: translateY(0);
						}
					}

					&:after {
						position: absolute;
						content: '';
						left: 0;
						bottom: -2px;
						width: 100%;
						height: 1px;
						background-color: $white;
						opacity: 0;
						transform: translateY(6px);
						transition: all 0.3s linear;
					}
				}
			}
		}
	}

	.copy-cont{
		margin-top: 50px;

		@media screen and (min-width: $mobile-BP){
			text-align: center;
		}

		.logo{
			width: 180px;
		}

		p{
			color: #82B6E5;
			margin-bottom: 0;
			font-size: 15px;
			margin-top: 10px;
			line-height: 1.5;
			
			@media screen and (min-width: $mobile-BP) {
				line-height: 1;
			}
			span{
				display: none;
				@media screen and (min-width: $mobile-BP) {
					display: initial;
				}
			}

			br{
				display: initial;
				@media screen and (min-width: $mobile-BP) {
					display: none;
				}
			}

			a{
				color: #82B6E5;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}


