<div class="main-nav-container {{ entry.section.handle }}">
    <nav class="main-nav">
        <a href="/" class="logo-container">
            {% if entry.section.handle == 'blogArticle' %}
            <svg class="logo" id="f5c55b70-4797-43c8-ab3c-2b805880bcdc" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 776.64 118.35">
                <title>Socium</title>
                <path
                    d="M463.63,2.46h-26V61.63a56.71,56.71,0,0,0,56.72,56.71h0a56.71,56.71,0,0,0,56.71-56.71V2.46h-26V61.23a30.71,30.71,0,0,1-30.71,30.71h0a30.71,30.71,0,0,1-30.72-30.71Z" />
                <rect class="rect-logo" x="384.89" y="2.46" width="26.4" height="113.43" />
                <path
                    d="M97.12,28.46v-26H34.86A34.85,34.85,0,0,0,0,37.31H0A34.85,34.85,0,0,0,34.86,72.17H66.74A8.86,8.86,0,0,1,75.6,81h0a8.86,8.86,0,0,1-8.86,8.86H4.88v26H67.14A34.86,34.86,0,0,0,102,81h0A34.86,34.86,0,0,0,67.14,46.17H35.26a8.85,8.85,0,0,1-8.86-8.86h0a8.85,8.85,0,0,1,8.86-8.85Z" />
                <path
                    d="M356,28.46v-26H314.24a56.71,56.71,0,0,0-56.72,56.71h0a56.71,56.71,0,0,0,56.72,56.72H356v-26H314.63a30.71,30.71,0,0,1-30.71-30.72h0a30.71,30.71,0,0,1,30.71-30.71Z" />
                <path
                    d="M178.32,118.35a59.18,59.18,0,1,1,59.17-59.18A59.24,59.24,0,0,1,178.32,118.35Zm0-92.35a33.18,33.18,0,1,0,33.17,33.17A33.21,33.21,0,0,0,178.32,26Z" />
                <path
                    d="M719.93,0h0a56.63,56.63,0,0,0-43.75,20.62A56.59,56.59,0,0,0,632.44,0h0a56.73,56.73,0,0,0-56.72,56.72v59.17h26V57.12A30.72,30.72,0,0,1,632.44,26.4h0a30.72,30.72,0,0,1,30.72,30.72v58.77h26.05V57.12A30.72,30.72,0,0,1,719.93,26.4h0a30.71,30.71,0,0,1,30.71,30.72v58.77h26V56.72A56.72,56.72,0,0,0,719.93,0Z" />
                <rect x="490.85" y="2.46" width="7" height="37.3" style="fill:#4e8ecb" />
                <rect x="508.74" y="2.46" width="7" height="37.3" style="fill:#4e8ecb" />
                <rect x="472.95" y="2.46" width="7" height="37.3" style="fill:#4e8ecb" />
            </svg>
            {% else %}
            <img class="logo" src="/media/global/socium-logo-white.svg" alt="Socium">
            {% endif %}
        </a>

        <div class="links-container">
            <a href="/about" {% if craft.app.request.segments|first == 'about' %}class="active"{% endif %}>about</a>
            <a href="/solutions" {% if craft.app.request.segments|first == 'solutions' %}class="active"{% endif %}>solutions</a>
            <a href="/case-studies" {% if craft.app.request.segments|first == 'case-studies' %}class="active"{% endif %}>case studies</a>
            <a href="/blog" {% if craft.app.request.segments|first == 'blog' %}class="active"{% endif %}>blog</a>
            <a href="/contact" {% if craft.app.request.segments|first == 'contact' %}class="active"{% endif %}>contact</a>
        </div>

        <div class="menu-container">
            <div class="menu">
                <div class="line"></div>
            </div>
        </div>
    </nav>
</div>