<div class="main-footer">
    <footer>
        <div class="column">
            <h5 class="ff-sansSerif-alt h6">Sitemap</h5>
            <div class="sitemap links-container">
                <div><a href="/">home</a></div>
                <div><a href="/solutions">solutions</a></div>
                <div><a href="/blog">blog</a></div>
                <div><a href="/about">about</a></div>
                <div><a href="/case-studies">case studies</a></div>
                <div><a href="/contact">contact</a></div>
            </div>
        </div>
        <div class="column">
            <h5 class="ff-sansSerif-alt h6">Contact</h5>
            <div class="links-container contact">
                <div><a href="tel:">123 456 7890</a></div>
                <div><a href="mailto:">info@sociumsolutionsllc.com</a></div>
            </div>
        </div>
        <div class="column">
            <h5 class="ff-sansSerif-alt h6">Address</h5>
            <div class="links-container">
                <a href="">
                    11501 Shadow Creek Parkway <br>
                    Suite 111-522, Pearland, Texas 77584
                </a>
            </div>
        </div>
        <div class="column">
            <h5 class="ff-sansSerif-alt h6">Follow</h5>
            <div class="links-container">
                <a href="">
                    <img class="linkedin" src="/media/global/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
    </footer>
    <div class="copy-cont">
        <a href="/"><img class="logo" src="/media/global/socium-logo-lightBlue.svg" alt="Socium"></a>
        <p>&copy; 2020 Socium Solutions, LLC <br><span>|</span> <a href="">Privacy Policy</a></p>
    </div>
</div>