/****************** GLOBAL *********************/


$ff-serif: serif; 
$ff-sansSerif: 'Bai Jamjuree', sans-serif;
$ff-sansSerif-alt: 'Khand', sans-serif;

// color palette
$black: #000;
$white: #fff;
$lightBlue: #4B90CD;
$darkBlue: #1A325E;
$green: #32AA6B;
$gray: #E3E3E3;
$darkGray: #333333;



// spacing & containers
$sectionPadding: 96px;
$sectionPadding-medium: 60px;
$sectionPadding-small: 30px;
$sectionPaddingTop: 130px;
$sectionPaddingTop-medium: 65px;
$sectionPaddingTop-small: 30px;

/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
$mobile-small-BP: 400px;
$mobile-BP: 640px;
$tablet-BP: 768px;
$desktop-BP: 1024px;
$desktop-big-BP: 1200px;


/*-----------------------------------*\
	UNIVERSAL
\*-----------------------------------*/
html {
	box-sizing: border-box;
	// background: ;
	font-size: 16px;
	font-family: $ff-sansSerif;
	line-height: 1.1;
    scroll-behavior: smooth;
    
}

html,
body {
	margin: 0;
	padding: 0;
	color: $darkGray;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0px;
	left: 0;
	transform: translateY(-800%);
	z-index: 999999;
	transition: all .35s linear;
	// background-color: var(--Mint);
	// color: var(--Black);
	padding: .5em 1em;
	text-decoration: none;

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	SECTION
\*-----------------------------------*/

section {
	padding: 0 2em;

	&:nth-of-type(1){
        padding-top: 55px;

        @media screen and (min-width: $tablet-BP) {
            padding-top: 114px;
        }

        &>div {
            @media(min-width: $tablet-BP) {
                padding-top: 0;
            }
        }
    }

	@media(min-width: $tablet-BP) {
		padding: 0 4em;
	}

	&>div {
		padding: 4em 0;
		max-width: 1100px;
        margin: 0 auto;

		@media(min-width: $tablet-BP) {
			padding: 4em 2em;
        }
    }
}


/*-----------------------------------*\
	LIST
\*-----------------------------------*/

ol,ul{
	margin: 0;
	li{
		padding-left: 0.8em;
		margin-left: -0.8em;
	}
}

/*-----------------------------------*\
	MISC
\*-----------------------------------*/

div.double-lined, article.double-lined{
	position: relative;
	padding-top: 2em;
	padding-bottom:  calc(2em + 5px);
	border-bottom: 1px solid $gray;

	@media screen and (min-width: $tablet-BP){
		padding-top: 4em;
		padding-bottom: calc(4em + 5px);
	}

	&:after{
		content: '';
		width: 100%;
		height: 1px;
		background-color: $gray;
		position: absolute;
		bottom: 5px;
		left: 0;
	}

	&:nth-last-child(1){
		margin-bottom: 5px;
	}

	&:nth-child(1){
		border-top: 1px solid $gray;
		padding-top: calc(2em + 5px);
		margin-top: 5px;

		@media screen and (min-width: $tablet-BP){
			padding-top: calc(4em + 5px);
		}
		
		&:before{
			content: '';
			width: 100%;
			height: 1px;
			background-color: $gray;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}

